input[type=image] {
  object-fit: contain;
  min-width: 20px;
  min-height: 20px;
  max-height: 60%;
  max-width: 60%;
}



.songNameContainer{
  display: inline-block;
  text-align: left;
  width:50%
}
.songAuthorContainer{
  display: inline-block;
  text-align: left;
  width:50%
}
.songBPMContainer{
  display: inline-block;
  text-align: right;
  width:50%
}
.songKeyContainer{
  display: inline-block;
  text-align: right;
  width:50%
}
.songScaleContainer{
  display: inline-block;
  text-align: right;
  width:25%
}

.PlayButton{
  width: 20%;
  margin-right:5%;
  text-align: center;
  overflow: hidden;
  display:inline-block;
}

.songList .PlayButton{
  background-color:gray; /* Green background */
  border: 1px solid gray; /* Green border */
  color: white; /* White text */
  margin:0%;
  margin-left: 1.5%;
  cursor: pointer; /* Pointer/hand icon */
  width: 20%; /* Set a width if needed */
  height: 100%;
  overflow: hidden;
  display:inline;
}

.songList .PlayButton:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
/* Add a background color on hover */
.songList .PlayButton:hover {
  background-color: #afa780;
}

.songList .PlayButton:focus {
  background-color:   #5c3e5c;
}

.songList .selected{
  background-color:   #5c3e5c;
}

.listing{
  display:block;
  margin-bottom: 2.5%
}


.songList button{
    background-color: #D36974; /* Green background */
    border: 1px solid  #D36974; /* Green border */
    color: white; /* White text */
    margin:0%;
    margin-right: 1.5%;
    cursor: pointer; /* Pointer/hand icon */
    width: 75%; /* Set a width if needed */
    display: inline; /* Make the buttons appear below each other */
    overflow: hidden;
    
}

.songList button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .songList button:hover {
    background-color: #3e8e41;
  }


  /*
  By Brian  
  */

  .subtitle {
    width: 95vh;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .subtitle-with-underbar {
    width: 95vh;
    text-align: left;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid #cccccc;
  }  

  .user-song .item {
    height: 20vh;
  }

  .user-song .item {
    margin-bottom: 1rem;
    border-bottom: none;
  }



  .song-detail {
    width: 320px;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    
  }

  .song-detail h3 {
    font-size: 0.9rem;
    color: #646464;
    font-weight: 500;
  }

  .song-detail h4 {
    font-size: 0.7rem;
    font-weight: 400;
    color: #646464;
  }

  .duration {
    width: 80px;
    color: #646464;
  }  

  .button button {
    margin-top: 2rem;
    position: fixed;
    top: 80%;
    left: 80%;
  }

/* player */


  

  /* File upload style - end */


  .criteria-wrapper {
    width: 527px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .criteria {
    width: 527px;
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
  }
  
  .criteria-inputs {
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .criteria-inputs .input {  
    height: 4rem; 
    display: flex;
    flex-direction: column;
  }
  
  .criteria-inputs .input label {
    margin-bottom: 4px;
    font-weight: 500;
  }
  
  .criteria-inputs .input input {
    width: 7rem;
    height: 2.5rem;
    padding: .5rem 1rem;
    border: .075rem solid #ddd;
    border-radius: .3rem;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
  }
  
  .key, .scale {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family:'Montserrat', sans-serif;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
  }
  
  .filter {
    width: 527px;
    display: flex;
    justify-content: space-between;
  }

  .criteria-wrapper {
    width: 527px;
    display: flex;
  }

  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }