
.songNameContainer{
  display: inline-block;
  text-align: left;
  width:50%
}
.songAuthorContainer{
  display: inline-block;
  text-align: left;
  width:50%
}
.songBPMContainer{
  display: inline-block;
  text-align: right;
  width:50%
}
.songKeyContainer{
  display: inline-block;
  text-align: right;
  width:50%
}
.songScaleContainer{
  display: inline-block;
  text-align: right;
  width:25%
}

.PlayButton{
  width: 20%;
  margin-right:5%;
  text-align: center;
  overflow: hidden;
  display:inline-block;
}

.songList .PlayButton{
  background-color:gray; /* Green background */
  border: 1px solid gray; /* Green border */
  color: white; /* White text */
  margin:0%;
  margin-left: 1.5%;
  cursor: pointer; /* Pointer/hand icon */
  width: 20%; /* Set a width if needed */
  height: 100%;
  overflow: hidden;
  display:inline;
}

.songList .PlayButton:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
/* Add a background color on hover */
.songList .PlayButton:hover {
  background-color: #afa780;
}

.songList .PlayButton:focus {
  background-color:   #5c3e5c;
}

.songList .selected{
  background-color:   #5c3e5c;
}

.listing{
  display:block;
  margin-bottom: 2.5%
}


.songList button{
    background-color: #D36974; /* Green background */
    border: 1px solid  #D36974; /* Green border */
    color: white; /* White text */
    margin:0%;
    margin-right: 1.5%;
    cursor: pointer; /* Pointer/hand icon */
    width: 75%; /* Set a width if needed */
    display: inline; /* Make the buttons appear below each other */
    overflow: hidden;
    
}

.songList button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
.songList button:hover {
    background-color: #7e3a29;
  }

.songList button:focus {
    background-color: #5c3e5c;
  }


  .main{
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: "#70bg32";
    background-repeat:no-repeat;

    background: linear-gradient(rgba(53, 0, 50,1) ,rgb(126, 65, 105) , rgba(255, 185, 163,1));
    background-attachment: fixed;
  }


.title{
  color: white; 
}

.metaDataDiv{
  width: 100%;
  text-align: right;
  display:inline-block;
  overflow: hidden;
}


